{% extends "base.html" %}

{% load material_form %}

{% block content %}

<div class="section">
    <h5>Imported records ({{importedrecord_list.count|default:'--'}})</h5>
    <div class="row">
        {% comment %} <form enctype="multipart/form-data" method="post">{% csrf_token %} {% endcomment %}
        <div class="input-field col s8 m6 l4">
            <select>
                {% for source in source_list %}
                <option value="source.id">{{source.name}}</option>
                {% endfor %}
            </select>
            <label>Imported sources: <a href="{% url 'yourcvMS:importedsource-create' %}">Add</a></label>
        </div>

        <div class="input-field col s8 m6 l4">
            <select>
                {% for type in type_list %}
                <option value="type.id">{{type.name}}</option>
                {% endfor %}
            </select>
            <label>Imported record types:</label>
        </div>
        {% comment %} </form>          {% endcomment %}
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <a class="btn" href="{% url 'yourcvMS:importedrecord-import-bib' %}"><i class="material-icons left">file_upload</i>Import BIB file</a>
            <a class="btn green" href="{% url 'yourcvMS:importedrecord-import-all' %}"><i class="material-icons left">library_add</i>Batch load</a>
            <a class="btn red" href="{% url 'yourcvMS:importedrecord-delete-all' %}"><i class="material-icons left">delete</i>Delete all</a>
        </div>
    </div>
    {% if importedrecord_list %}
        <table class="stripped highlight">
        <thead>
            <th>Source</th>
            <th>Type</th>
            <th>Title</th>
            <th></th>
        </thead>
        <tbody>
            {% for object in importedrecord_list %}
            <tr class="clickable-row" data-href="{% url 'yourcvMS:importedrecord-detail' object.id %}">
                <td>{{object.source}}</td> 
                <td>{{object.record_type}}</td> 
                <td>{{object}}</td> 
                <td>
                    <a class="waves-effect waves-light green-text" href="{% url 'yourcvMS:importedrecord-import' object.id %}"><i class="material-icons">library_add</i></a>
                    <a class="waves-effect waves-light red-text" href="{% url 'yourcvMS:importedrecord-delete' object.id %}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> No imported records found.</p>
    {% endif %}
</div>

{% endblock %}