{% extends "base.html" %}

{% load material_form %}

{% load isbn_issn %}


{% block content %}

<div class="section">
    <h5>Journals ({{journal_list.count|default:0}})</h5>
    {% if journal_list %}
        <table class="stripped highlight">
        
        <tbody>
            {% for object in journal_list %}
            <tr class="clickable-row" data-href="{% url 'yourcvMS:journal-detail' object.id %}">
                <td>
                    <b>{{object.title}}</b><br/>
                    <i>{{object.publisher}}</i><br/>
                    ISSN: {{object.issn|issn}}, e-ISSN: {{object.eissn|default:''|issn}}<br/>
                    Publications: {{object.publication_set.all.count}}         Rankings: {{object.journalyearrank_set.all.count}}
                </td> 
                <td>
                    <a class="waves-effect waves-light" href="{% url 'yourcvMS:journal-update' object.id %}"><i class="material-icons">edit</i></a>
                    <a class="waves-effect waves-light" href="{% url 'yourcvMS:journal-delete' object.id %}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> No journal found.</p>
    {% endif %}
</div>

{% endblock %}