{% extends "base.html" %}

{% load material_form %}

{% load isbn_issn %}

{% block content %}

<div class="section">
    <h5>Journal</h5>
    
    <table class="stripped highlight">
        <tbody>
            <tr>
                <td>Title</td> 
                <td>{{object.title}}</td>
            </tr>
            <tr>
                <td>Publisher</td> 
                <td>{{object.publisher|default:''}}</td>
            </tr>
            <tr>
                <td>ISSN</td> 
                <td>{{object.issn|issn|default:''}}</td>
            </tr>
            <tr>
                <td>E-ISSN</td> 
                <td>{{object.eissn|issn|default:''}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#publications">Publications</a></li>
                <li class="tab col s3"><a href="#rankings">Rankings</a></li>
                {% comment %} <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li> {% endcomment %}
            </ul>
        </div>
        <div id="publications" class="col s12">
            <table>
                <tbody>
                    {% for pub in object.publication_set.all %}
                    <tr>
                        <td>
                            {{pub.title}}<br/>
                            <i>{{pub.authors_str}}</i><br/>
                            {{pub.source_str}}<br/>
                        </td> 
                    </tr>
                    {% endfor %}        
                </tbody>
            </table>
        </div>
        <div id="rankings" class="col s12">
            <br/>
            <ul class="collapsible">
                {% for jyr in object.journalyearrank_set.all %}
                <li>
                    <div class="collapsible-header">
                        <b>{{jyr.year}}</b> - C{{jyr.centil_average}}, D{{jyr.decil_average}}, Q{{jyr.quartil_average}} ({{jyr.rank_average}}/{{jyr.number_of_journals}})
                        <a class="waves-effect waves-light red-text" href="{% url 'yourcvMS:journal-year-rank-delete' jyr.id %}"><i class="material-icons">delete</i></a>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s4">
                                <table class="striped">
                                    <tbody>
                                    <tr>
                                        <td>Centil</td>
                                        <td>{{jyr.centil_average}}</td>
                                    </tr>
                                    <tr>
                                        <td>Decil</td>
                                        <td>{{jyr.decil_average}}</td>
                                    </tr>
                                    <tr>
                                        <td>Quartil</td>
                                        <td>{{jyr.quartil_average}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="btn" href="{% url 'yourcvMS:journal-get-ranking' object.id %}">Get ranking from service</a>
            <a class="btn red" href="{% url 'yourcvMS:journal-clear-ranking' object.id %}">Remove all rankings</a>
            <a class="btn blue" href="{% url 'yourcvMS:journal-refresh-ranking' object.id %}">Refresh rankings</a>
        </div>
    </div>

    
    
    <a href="{% url 'yourcvMS:journal-list' %}">Back to list</a>
</div>

{% endblock %}