{% extends "base.html" %}

{% load material_form %}


{% block content %}

<div class="section">
    <h5>Publishers ({{ publisher_list.count }})</h5>
    <div class="row">
        <div class="col s12 m12 l12">
            <a class="btn" href="{% url 'yourcvMS:publisher-normalize' %}"><i class="material-icons left">format_size</i>Normalize names and addresses</a>
        </div>
    </div>
    {% if publisher_list %}
        <table class="stripped highlight">
        
        <tbody>
            {% for object in publisher_list %}
            <tr class="clickable-row" data-href="{% url 'yourcvMS:publisher-detail' object.id %}">
                {% comment %} <td>{{object.login}}</td>{% endcomment %}
                <td>
                    <b>{{object.name}}</b><br/>
                    <i>{{object.address}}</i><br/>
                    Journals: {{object.journal_set.all.count}}
                </td> 
                {% comment %} <td>{{object.date_of_birth|default_if_none:""}}</td> {% endcomment %}
                <td>
                    <a class="waves-effect waves-light" href="{% url 'yourcvMS:publisher-update' object.id %}"><i class="material-icons">edit</i></a>
                    <a class="waves-effect waves-light" href="{% url 'yourcvMS:publisher-delete' object.id %}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
    <p> No publisher found.</p>
    {% endif %}
</div>

{% endblock %}