{% extends "base.html" %}

{% load material_form %}


{% block content %}

<div class="section">
    <h5>Publication Summary</h5>
    <div class="row">
        <a class="btn" href="{% url 'yourcvMS:publication-summary' %}?type=latex">LATEX</a>        
    </div>
    <h6>Publication counts:</h6>
    <div class="row">
        <div class="col s4">
            <table class="striped">
                <tbody>
                    {% for pub in publications %}
                    <tr>
                        <td>{{pub.name}}</td>
                        <td>{{pub.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h5>Journal articles</h5>

    <h6>Number of journal articles indexed:</h6>
    <div class="row">
        <div class="col s4">
            <table class="striped">
                <tbody>
                    {% for name,count in article_counts %}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h6>Journals quartiles and deciles:</h6>
    <div class="row">
        <div class="col s4">
            <table>
                <thead>
                    <tr>
                        <td>Quartiles:</td>
                        {% for x in quartiles %}
                        <td>Q{{forloop.counter}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Counts:</td>
                        {% for x in quartiles %}
                        <td>{{x}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s7 offset-s1">
            <table>
                <thead>
                    <tr>
                        <td>Deciles:</td>
                        {% for x in deciles %}
                        <td>D{{forloop.counter}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Counts:</td>
                        {% for x in deciles %}
                        <td>{{x}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h6>Journals factors:</h6>
    <div class="row">
        <div class="col s4">
            <table>
                <thead>
                    <tr>
                        <td>IF:</td>
                        {% for t,f in webofscience %}
                        <td>&ge;{{t|floatformat:1}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Counts:</td>
                        {% for t,f in webofscience %}
                        <td>{{f}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s4 offset-s1">
            <table>
                <thead>
                    <tr>
                        <td>SJR:</td>
                        {% for t,f in scimago %}
                        <td>&ge;{{t|floatformat:1}}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Counts:</td>
                        {% for t,f in scimago %}
                        <td>{{f}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h5>List of Journal articles</h5>

    <div class="row">
        <div class="col s12">
            <table class="stripped highlight">        
                <tbody>
                    {% for article, meta in article_list %}
                    <tr> {% comment %} class="clickable-row" data-href="{% url 'yourcvMS:publication-detail' object.id %}"> {% endcomment %}
                        <td>
                            {{article.full_citation}}
                            <ul class="collections">
                                <li>{{meta.factors}}</li>
                                <li>Average centile: {{meta.centile}}</li>
                                <li>Categories: {{meta.categories}}</li>
                                {% if meta.citations %}
                                <li>Citations: {{meta.citations}}</li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    
</div>

{% endblock %}